<!-- src/app/components/bank-management/bank-management.component.html -->
<p-card header="Bank Management" class="mb-3">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <button pButton label="Add Bank" icon="pi pi-plus" (click)="openNew()"></button>
        </div>
    </p-toolbar>

    <p-table [value]="banks" [(selection)]="selectedBank" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Abbreviation</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bank>
            <tr>
                <td>{{ bank.name }}</td>
                <td>{{ bank.codeBank }}</td>
                <td>{{ bank.abbreviation }}</td>
                <td><img *ngIf="bank.image" [src]="bank.image" width="50" /></td>
                <td>
                    <button pButton icon="pi pi-pencil" class="p-button-text" (click)="editBank(bank)"
                        pTooltip="Edit bank" tooltipPosition="bottom"></button>

                    <button pButton icon="pi pi-trash" class="p-button-text p-button-danger"
                        (click)="confirmDeleteBank(bank)" pTooltip="Delete bank" tooltipPosition="bottom"></button>

                    <button pButton icon="pi pi-sitemap" class="p-button-text p-button-info" (click)="openSidebar(bank)"
                        pTooltip="View subsidiary banks" tooltipPosition="bottom"></button>

                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<p-dialog header="{{ dialogTitle }}" [(visible)]="bankDialog" [modal]="true" [closable]="true">
    <form #bankForm="ngForm">
        <div class="p-fluid">
            <div class="p-field">
                <label for="name">Name</label>
                <input id="name" pInputText [(ngModel)]="bank.name" name="name" required />
            </div>
            <div class="p-field">
                <label for="codeBank">Code</label>
                <input id="codeBank" pInputText [(ngModel)]="bank.codeBank" name="codeBank" [readonly]="isEdit"
                    [class.p-disabled]="isEdit" required maxlength="2" minlength="2" />
                <small *ngIf="isEdit" class="p-text-secondary">Code cannot be changed when editing</small>
            </div>
            <div class="p-field">
                <label for="abbreviation">Abbreviation</label>
                <input id="abbreviation" pInputText [(ngModel)]="bank.abbreviation" name="abbreviation" />
            </div>
            <div class="p-field">
                <label for="image">Image URL</label>
                <input id="image" pInputText [(ngModel)]="bank.image" name="image" />
            </div>
        </div>
    </form>
    <p-footer>
        <button pButton label="Cancel" class="p-button-secondary" (click)="bankDialog = false"></button>
        <button pButton label="Save" (click)="saveBank()" [disabled]="bankForm.invalid"></button>
    </p-footer>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>



<p-sidebar [(visible)]="sidebarVisible" position="left" [style]="{ width: '100vw' }">
    <app-subsidiary-bank-management #subsidiaryBankManagementComponent></app-subsidiary-bank-management>
</p-sidebar>